.nav-ba{
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #700877 0%, #ff2759 100%, #ff2759 100%) repeat scroll 0 0;

}

.nav-log{
    height: 73px;
}

.nav-ito{
    color: white;
    font-weight: 500;

}

.sc2img{
    height: 900px;
}

.sc2p{
    position: absolute;
    text-align: center;
    margin-top: -300px;
    color: white;
    margin-left: 750px;
}