.nav-ba{
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #700877 0%, #ff2759 100%, #ff2759 100%) repeat scroll 0 0;

}

.nav-log{
    height: 73px;
}

.nav-ito{
    color: white;
    font-weight: 500;

}

.sc2img{
    height: 900px;
}

.sc2p{
    position: absolute;
    text-align: center;
    margin-top: -300px;
    color: white;
    margin-left: 750px;
}

#fotico2{
    color: #FFC107;
}

.sc21{
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #700877 0%, #ff2759 100%, #ff2759 100%) repeat scroll 0 0;
    width: 500px;
    position: absolute;
    margin-top: -210px;
    border-radius: 20px;
    margin-left: 30px;
}

.sc22{
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #700877 0%, #ff2759 100%, #ff2759 100%) repeat scroll 0 0;
    width: 400px;
    position: absolute;
    margin-left: 70%;
    margin-top: -162px;
    border-radius:20px ;
}

.sc22p{
    text-align: center;
    color: wheat;
}

.sc23im{
    margin-left: 20px;
}

.sc3b{
    background-image: url(../img/left_about_02-1.png);
    background-repeat: no-repeat;
}


.sc4b{
    background-image: url(../img/09-Store-Shop_21.jpg);
    
}

.sc41b{
    background-color: #E6638E;
    opacity: 0.8;
}
.sc4link{
    color: white;
    border-style: solid;
    border-radius: 20px;
    text-decoration: none;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 1px;
    transition: all .7s;
}

.sc4link:hover{
    background-color: #ff2054;
}

.sc4card{
    background-color: white;
}

.sc4img{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.sc4star{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#sc4ios{
    font-weight: 400;
    font-size: 20px;
    border-style: solid;
    border-radius: 72px;
    padding: 7px;
    
}